$color1: #D6003D;
$color2: #575756;
$color3: #2E1E3A;
$color4: #ffffff;
$color5: #000000;


.music_page {
    width: 100vw;
    height: 100vh;

    .music_page_back {
        z-index: -1;
    }

    .music_page_front {
        display: flex;
        flex-direction: column;
        width: inherit;
        height: inherit;
        align-items: center;

        .music_para {
            font-size: 30px;
            text-align: center;
            margin-top: 100px;
            margin-right: 150px;
            margin-left: 150px;
            
            text-shadow: 3px 3px 5px $color3;
                transition: 0.5s ease-in-out;

            &.purple{
                text-shadow: 3px 3px 5px $color1;
            }
        }

        .music_lottie{
            width: 400px;
        }
    }

    
}